// colors
$color-primary: #ef2042;
$color-secondary: #ffebe9;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #333;

//Fonts
$body-font: "Poppins", sans-serif;
$line-height: 1.4;

//Heights
$nav-height: 80px;
